{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h4>Mecze w archiwum: {{ count }}</h4>
<hr>
{% if matches %}
<center>
<table class="table table-striped table-dark" style="max-width:800px">
        <thead>
        <tr align="center">
          <th scope="col">Rozgrywki</th>
          <th scope="col">Typ</th>
          <th scope="col">Etap</th>
          <th scope="col">Gospodarz</th>
          <th scope="col">Rezultat</th>
          <th scope="col">Gość</th>
        </tr>
        </thead>
        <tbody>
    {% for match in page.object_list %}
        {% if match.confirmed %}
            {% if match.player1.user == request.user or match.player2.user == request.user %}
        <tr align="center">
            <td width="20%"><span class="btn btn-secondary">{{ match.cup.name }}</span></td>
            <td width="20%"><span class="btn btn-secondary">{{ match.cup.type }}</span></td>
            <td width="20%"><span class="btn btn-secondary">{{ match.round.name }}</span></td>
            <td width="20%"><span class="btn btn-secondary">{{ match.player1 }}</span></td>
          <td width="15%"><span class="btn btn-secondary">{% if match.finished and not match.confirmed %}Niepotwierdzony ({{ match.result1 }}:{{ match.result2 }}){% elif not match.finished and not match.confirmed %}Nierozegrany{% else %}{{ match.result1 }} : {{ match.result2 }}{% endif %}</span></td>
          <td width="20%"><span class="btn btn-secondary">{{ match.player2 }}</span></td>

        </tr>
        {% endif %}
        {% endif %}
    {% endfor %}
        </tbody>
        </table>
    </center>
    <div class="page-links">
        {% if page.has_previous %}
        <a class="btn btn-secondary" href="{% url 'archival_matches' %}?page={{ page.previous_page_number }}">Poprzednia</a>
        {% endif %}
            {% if page.number > 1 %}
            <a class="btn btn-secondary">{{ page.number }}</a>
            {% endif %}
        {% if page.has_next %}
        <a class="btn btn-secondary" href="{% url 'archival_matches' %}?page={{ page.next_page_number }}">Następna</a>
        {% endif %}
    </div>
{% else %}
<p class="btn btn-secondary">Nie masz rozegranych żadnych meczy.</p>
{% endif %}
{% endblock %}