{% extends 'index.html' %}
{% block content %}
<h4>Lista rozgrywek utworzonych przez Ciebie w trybie offline:</h4><br>
{% if cups %}

        <table class="table table-striped table-dark">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Liczba graczy</th>
          <th scope="col">Aktualny etap</th>
          <th scope="col" colspan="2">Akcja</th>
        </tr>
        </thead>
        <tbody>
    {% for cup in cups %}
        <tr>
            <th scope="row"><span class="btn btn-secondary">{{ cup.name }}</span></th>
          <td><span class="btn btn-secondary">{{ cup.number_of_players }}</span></td>
            <td><span class="btn btn-secondary">

              {% if cup.type == 'Puchar' %}
                        {% if cup.actual_round == None  %}
                            {% if cup.registration == 'Otwarta' %}
                                Rejestracja
                            {% else %}
                                Nie rozpoczęte
                            {% endif %}
                       {% else %}
                            {% if cup.finished %}
                                Zakończony
                            {% else %}
                                {{ cup.actual_round }}
                            {% endif %}
                          {% endif %}
                {% endif %}


                {% if cup.type == 'GrupyPuchar1mecz' or cup.type == 'GrupyPuchar2mecze' %}
                                        {% if not cup.league_generated %}
                                            Nie rozpoczęty
                                        {% elif match_in_groups_not_played %}
                                            Faza grupowa (trwa)
                                        {% elif not match_in_groups_not_played and not cup.cupgenerated %}
                                            Faza grupowa (zakończona)
                                        {% elif not match_in_groups_not_played and cup.cupgenerated and match_in_cup_not_played %}
                                            Faza pucharowa (trwa)
                                        {% elif not match_in_groups_not_played and cup.cupgenerated and not match_in_cup_not_played %}
                                            Zakończony
                                        {% endif %}


                {% endif %}

          </span></td>
          <td>
              {% if cup.author == request.user %}
                <a type="submit" class="btn btn-secondary" href="{% url 'dashboard' cup.id %}">Zarządzaj</a>
              {% endif %}
                  <a type="submit" class="btn btn-secondary" href="{% url 'edit_players' cup.id %}">Lista graczy</a>
              {% if cup.author == request.user %}
                  <a type="submit" class="btn btn-secondary" href="{% url 'delete' cup.id %}" onclick="return confirm('Jesteś pewien?')">Skasuj</a>

              {% endif %}
          </td>
        </tr>
            {% endfor %}
        </tbody>
        </table>

{% else %}
<p class="btn btn-secondary">Nie utworzyłeś żadnych rozgrywek offline.</p>
{% endif %}
{% endblock %}