{% extends 'index.html' %}
{% block content %}
{% if cups %}
<h4>Lista rozgrywek utworzonych przez Ciebie w trybie offline:</h4><br>

        <table class="table table-striped table-dark">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Liczba graczy</th>
          <th scope="col" colspan="2">Akcja</th>
        </tr>
        </thead>
        <tbody>
    {% for cup in cups %}
        <tr>
            <th scope="row"><span class="btn btn-secondary">{{ cup.name }}</span></th>
          <td><span class="btn btn-secondary">{{ cup.number_of_players }}</span></td>
          <td>
              {% if cup.author == request.user %}
                <a type="submit" class="btn btn-secondary" href="{% url 'dashboard' cup.id %}">Zarządzaj</a>
              {% endif %}
                  <a type="submit" class="btn btn-secondary" href="{% url 'edit_players' cup.id %}">Lista graczy</a>
              {% if cup.author == request.user %}
                  <a type="submit" class="btn btn-secondary" href="{% url 'delete' cup.id %}" onclick="return confirm('Jesteś pewien?')">Skasuj</a>
              {% endif %}
          </td>
        </tr>
            {% endfor %}
        </tbody>
        </table>

{% else %}
<p class="btn btn-secondary">Nie ma żadnych rozgrywek w systemie.</p>
{% endif %}
{% endblock %}