{% extends 'index.html' %}
{% block content %}
{% if cups %}
        <table class="table table-striped table-dark">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Liczba graczy</th>
          <th scope="col" colspan="2">Akcja</th>
        </tr>
        </thead>
        <tbody>
    {% for cup in cups %}
        <tr>
            <th scope="row"><span class="btn btn-secondary">{{ cup.name }}</span></th>
          <td><span class="btn btn-secondary">{{ cup.players.all|length }}</span></td>
          <td>
              {% if cup.author == request.user %}
                <a type="submit" class="btn btn-secondary" href="{% url 'dashboard' cup.id %}">Zarządzaj</a>
              {% elif request.user in cup.players.all %}
                <a type="submit" class="btn btn-secondary" href="{% url 'dashboard' cup.id %}">Podgląd</a>
              {% endif %}
                  <a type="submit" class="btn btn-secondary" href="{% url 'edit_players_online' cup.id %}">Lista graczy</a>
              {% if cup.author == request.user %}
                  <a type="submit" class="btn btn-secondary" href="{% url 'delete' cup.id %}" onclick="return confirm('Jesteś pewien?')">Skasuj</a>
              {% endif %}
                    {% if cup.registration == 'Otwarta' %}
                        {% if request.user not in cup.players.all %}
                      <a type="submit" class="btn btn-secondary" href="{% url 'join_the_cup' cup.id %}">Dołącz</a>
                        {% else %}
                      <a type="submit" class="btn btn-secondary" href="{% url 'left_the_cup' cup.id %}">Zrezygnuj</a>
                        {% endif %}
                    {% else %}
                      <a type="submit" class="btn btn-secondary">Rej. Zamknięta</a>
                    {% endif %}
          </td>
        </tr>
            {% endfor %}
        </tbody>
        </table>

{% else %}
<p class="btn btn-secondary">Nie ma żadnych rozgrywek w systemie.</p>
{% endif %}
{% endblock %}