{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h4>Rozgrywki: {{ cup.name }}</h4>
<h5>Rodzaj: {{ cup.type }}</h5>
<h5>Aktualny etap: {% if cup.actual_round == None %}
                        Nie rozpoczęte
                   {% else %}
                        {% if cup.finished %}
                            Zakończony
                        {% else %}
                            {{ cup.actual_round }}
                        {% endif %}
                   {% endif %}
</h5>
<hr>
<br>
{% if cup.registration == 'Zamknięta' %}
    {% if rounds|length == 0 %}
        <p class="btn btn-info"> Rejetracja zamknięta</p>
    {% endif %}
{% else %}
        {% if cup.number_of_players < 4 %}
            <p class="btn btn-info"> Rejetracja otwarta</p>            <br>
            <p class="btn btn-warning">Żeby rozpocząć turniej trzeba wprowadzić minimum 4 graczy.</p>
            <br>
            <p class="btn btn-info">Liczba graczy w systemie: {{ cup.number_of_players }}</p>
            <p><a href="{% url 'edit_players' cup.id %}" class="btn btn-primary">Wprowadź</a></p>
        {% else %}
            <p><a href="{% url 'close_registration' cup.id %}" class="btn btn-secondary">Zamknij rejestrację</a></p>
            <p class="btn btn-info">Liczba graczy w systemie: {{ cup.number_of_players }}</p>

        {% endif %}
{% endif %}
{% if cup.registration == 'Zamknięta' and not match_not_played %}
    {% if not cup.actual_round.name == "Finał" and cup.type == 'Puchar' %}
        <p><a href="{% url 'generate_round' cup.id %}" class="btn btn-secondary">Generuj etap</a></p>
    {% endif %}
    {% if cup.type == 'Liga' %}
        <p><a href="{% url 'generate_round' cup.id %}" class="btn btn-secondary">Generuj rozgrywki</a></p>
    {% endif %}
{% else %}
    {% if match_not_played %}
        <p class="btn btn-info">Gramy!</p>
    {% endif %}
{% endif %}

<br>

{% for round in rounds %}
<h4>{{ round.name }}</h4>
<hr>
<br>

<table class="table table-striped table-dark">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Gospodarz</th>
          <th scope="col">Rezultat</th>
          <th scope="col">Gość</th>
          <th scope="col" colspan="2">Akcja</th>
        </tr>
        </thead>
        <tbody>
    {% for match in matches %}
        {% if match.round.name == round.name %}
        <tr>
            <th scope="row" width="22.5%"><span></span></th>
            <td width="20%"><span class="btn btn-secondary">{{ match.player1 }}</span></td>
          <td width="15%"><span class="btn btn-secondary">{% if match.result1 != None and match.result2 != None %}{{ match.result1 }} : {{ match.result2 }}{% else %} Nie rozegrano {% endif %}</span></td>
          <td width="20%"><span class="btn btn-secondary">{{ match.player2 }}</span></td>
          <td width="45%">
                    {% if match.finished == False %}
                           <a class="btn btn-secondary" href="{% url 'enter_the_result' cup.id match.id %}">Wprowadź</a>
                    {% else %}
                        {% if cup.actual_round.id == round.id %}
                            {% if cup.len_rounds != rounds|length and cup.actual_round.name != 'Finał' %}
                                <a class="btn btn-secondary" href="{% url 'delete_the_result' cup.id match.id %}">Wyczyść</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
          </td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
        </table>
{% endfor %}
{% endblock %}