{% extends 'index.html' %}
{% block content %}
        <h4>Pomoc</h4>
<hr>
<h5>Rodzaje rozgrywek:</h5>

<p><b>Puchar <br>(min. 4 graczy):</b><br>
System pucharowy, gdzie przegrany odpada.</p>
<p><b>1 Mecz <br>(min. 4 graczy):</b><br>
Rozgrywki ligowe, gdzie każdy gra z każdym 1 mecz.</p>
<p><b>2 Mecze <br>(min. 4 graczy):</b><br>
Rozgrywki ligowe, gdzie każdy gra z każdym 2 mecze.</p>
<br>
<p><b>Grupy (1 mecz) + Puchar <br>(min. 8 graczy):</b><br>
Podział na grupy zostaje zrealizowany automatycznie w zależności od ilości graczy. Rozgrywki grupowe z których po rozegraniu każdy z każdym 1 meczu wychodzi 2 graczy z największą liczbą punktów. Na drugim miejscu brany jest pod uwagę bilans bramek, na trzecim bramki strzelone. Jeżeli w każdym przypadku jest remis następuje losowanie awansu. Po zakończeniu wszystkich meczy w grupach organizator ma możliwość wygenerowania etapu pucharowego.</p>
<br>
<p><b>Grupy (2 mecze) + Puchar <br>(min. 8 graczy):</b><br>
Przypadek taki sam jak wyżej z tym, że rozgrywamy po 2 mecze.<br>
<h5>Typy rejestracji:</h5>
<p><b>Ręczna(Offline):</b><br>
Typ ręczny polega na wprowadzaniu graczy z jednego formularza. Zalecana opcja przy spotkaniach offline przy jednym komputerze. </p>

<p><b>Publiczna(Online):</b><br>
W trybie publicznym użytkownik zarejestrowanego konta tworzy rozgrywki z automatycznie ustawioną otwartą rejestracją.
Inni użytkownicy chcący wziąć udział w rozgrywkach muszą zalogować się na swoje konto,
przejść w zakładkę Online--> Panel i znaleźć na liście turniej organizatora, a następnie kliknąć przycisk
"Dołącz", by wpisać się na listę uczestników. Kiery organizator uzna to za stosowe w zakładce
Online--> Zarządzaj i przy aktualnych rozgrywkach kliknąć przycisk "Zarządzaj", który przekieruje go do panelu administracyjnego rozgrywek.
Aby zamknąć rejestrację musi kliknąć przycisk "Zamknij rejestracje". Kiedy wszyscy są gotowi organizator w swoim panelu klika "generuj rozgrywki".
</p>
<p><b>Na zaproszenie(Online):</b><br>
Gracz, który stworzy rozgrywki "Na zaproszenie" musi w zakładce lista graczy wyszukiwać pojedyńczo znajomych kont użytkowników i zapraszać do udziału. Użytkownik zaproszony musi przyjąć zaproszenie w swoim panelu. </p>
<br>
<h5>Wprowadzanie wyników:</h5>
<p><b>Offline:</b><br>
W trybie offline wynik można wprowadzić do systemu w panelu zarządzającym rozgrywkami klikająć
przy interesującym nas meczu przycisk "Wprowadź". Następnie należy uzupełnić w formularzu bramki strzelone przez gospodarza,
gościa i potwierdzić przyciskiem "Wprowadź"</p>

<p><b>Online:</b><br>
W trybie online wprowadzanie wyniku odbywa się w zakładce Online--> Mecze. Gospodarz zalogowany na swoje konto klika "Wprowadź", wprowadza wynik i zatwierdza.
Następnie gość zalogowany na swoje konto w tej samej zakładce potwierdza bądź odrzuca wprowadzony przez gospodarza wynik.</p>
{% endblock %}